.listItem {
  margin-bottom: 16px;
  outline: 1px solid olive;
  box-shadow: 0 0 8px olive;
}

.listItem h2 {
  font-size: 16px;
}

.listItem img {
  max-width: 100%;
  margin: 0 auto;
}

.listItem h3 {
  font-size: 14px;
  margin-bottom: 0.5em;
}

.form {
  position: relative;
}

.nameInput {
  width: 90%;
  height: 26px;
  font-size: 14px;
}

.btn {
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  right: 5%;
  background-color: transparent;
}

@media screen and (min-width: 486px) {
  .nameInput {
    font-size: 16px;
  }
}

@media screen and (min-width: 640px) {
  .listItem h2 {
    font-size: 24px;
  }
  .listItem h3 {
    font-size: 18px;
  }
}
